* {
	margin: 0;
	padding: 0;
}
#main-container {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 50%;
	height: 500px;
	border: 1px solid silver;
	background-color: gray;
}
#inline-dots {
	display: flex;
	background-color: #363535;
	border-radius: 5px;
}
.dots {
	display: flex;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 5px;
	justify-content: center;
	line-height: 10px;
	padding: 3px;
}
#dot1 {
	background-color: red;
	margin-right: 5px;
	text-align: center;
}
#dot1:hover {
	color: red;
}
#dot2 {
	background-color: yellow;
	margin-right: 5px;
}
#dot2:hover {
	color: yellow;
}
#dot3 {
	background-color: green;
}
#dot3:hover {
	color: green;
}
#input-container {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100%;
}
#number-input:focus {
  outline: none;
}
#number-input {
	padding: 0 5px 3px 3px;
	width: 100%;
	height: 100%;
	background-color: #363535;
	text-align: right;
	font-size: 60px;
	border: none;
	color: #FAF5F5;
}
#remaining-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.detail-row {
	display: flex;
	width: 100%;
	height: 80px;
}
.box {
	display: flex;
	flex: 1;
	justify-content: center;
	border: 1px solid #4C4B4B;
	color: #FAF5F5;
	font-size: 35px;
}
.centering {
	padding-top: 20px;
}
#box-mods {
	height: 95%;
	margin-top: 2px;
}
#zero {
	border-right-style: none;
	padding-right: 1px;
}
#empty {
	border-left-style: none;
	padding-right: 1px;
}
.gray {
	background-color: #5C5A5A;
}
.maze {
	background-color: #F1980B;
}